<a href="https://colab.research.google.com/github/Jaomiew/DWDM21/blob/main/Data101(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **ข้อความที่อยู่ใน textbox จะเป็น ภาษา markdown**

## **ข้อดีหนึ่งของ Python คือมี package สำหรับทำงานต่างๆมากมาย**

## **ซึ่ง pandas เป็น package สำหรับการทำงานกับข้อมูลที่อยู่ในรูปแบบตาราง**

## **โดย pandas จะเรียกตารางนั้นว่า dataframe**

# **package ที่ใช้ในการจัดการข้อมูล**

## **1. pandas**

In [4]:
  import pandas #วิธีเรียกใช้ package คือ import ตามด้วยชื่อ package 
                       #คือการ import แบบธรรมดา

In [5]:
import  pandas as pd  #เหมือนกับข้างต้นเเต่เเค่ตั้งชื่อให้ package ที่โหลดมาว่า pd ซึ่งทำให้เวลาพิ์มสั้นกว่าคำว่า pandas

## ไฟล์ที่จะเจอคือ

1. .csv (CSV = comma separated values) เป็นไฟล์หลังที่จะใช้ในวิชานี้
เก็บข้อมูลตาราง ใช้งานง่ายๆ

In [6]:
data_df = pd.read_csv('data.csv') #ใช้ data ชื่อ pd

In [7]:
data_df

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

In [8]:
data_df2 = pandas.read_csv('data.csv') #ใช้ data ชื่อ pandas คนละชื่อกันกับข้างบน
data_df2

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

# **Basic Python**
## variables ตัวแปร คือ กล่องที่เอาไว้ใส่ข้อมูล

## **ข้อกำหนดในการตั้งชื่อตัวแปร**

1. ชื่อห้ามมีเว้นวรรค

2. (พยายาม)ใช้ภาษาอังกฤษ

3. ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)

4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [9]:
variable_a = 12              #12 ไม่มี quote คือเป็นตัวเลข 12    #variable_a คือช่องกล่อง
variable_b = ' abcde '     # 'เรียกว่า ' ' quote' เป็นตัวหนังสือ
variable_c = variable_a

In [10]:
variable_a

12

In [11]:
variable_b

' abcde '

In [12]:
variable_c

12

# **ชื่อห้ามมีเว้นวรรค**

In [13]:

variable a = 6

SyntaxError: ignored

# **(พยายาม)ใช้ภาษาอังกฤษ**

## colab ใช้ภาษาไทยเป็นชื่อตัวแปรได้ แต่ไม่ควรใช้

In [14]:

ตัวแปร = 3
ตัวแปร

3

# **ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)**

In [15]:

v_a = 1
V_a = 2
print(v_a)
print(V_a)

1
2

In [16]:
v_a = 1
v_a = 2
print(v_a)
print(v_a)

2
2

# **ห้ามใช้ตัวเลขเป็นตัวหน้า**

In [21]:
2 = 1

SyntaxError: ignored

In [19]:

2ab = 1

SyntaxError: ignored

In [22]:
variable_a = 12            
variable_b = ' abcde '    
variable_c = variable_a 
variable_d = -41.2
variable_4 = "KKU" #ใช้ double quote ""  ก็ได้
# สามารถ + - * / ได้  ตัวแปรชนิดเดียวกัน
# ไม่สามารถใช้ตัวเลข + - * / กับตัวหนังสือได้

In [23]:
variable_x = variable_c + variable_d
print (variable_x)         #print ใช้แสดงค่า

-29.200000000000003

In [24]:
variable_a + variable_b

TypeError: ignored

In [25]:
print (variable_b + variable_4)  #ตัวแปรที่เป็นตัวหนังสือ + กับตัวหนังสือ

 abcde KKU

# **Casting การเปลี่ยนชนิดของตัวเเปร**
## **ing ()**

## **float ()**
 
## **str () เปลี่ยนตัวเลข ทศนิยมเป็น จน. จริง**

In [26]:
print (variable_x)
print (int(variable_x))

-29.200000000000003
-29

In [27]:
V_X = str (variable_x)
print (V_X)

-29.200000000000003

In [28]:
V_X + variable_a

TypeError: ignored

In [29]:
variable_a + V_X

TypeError: ignored

In [30]:
V_X #พิมพ์ชือตัวเเปรธรรมดา

'-29.200000000000003'

In [31]:
float (V_X)

-29.200000000000003

# **Data Structure โครงสร้างของข้อมูล  เอาค่าเเต่ละตัวมาต่อกันได้ ทำให้ง่ายขึ้น**

#list()

int , float , str มาต่อกันได้

In [32]:
list_a = [1,2,0.2,'abs']      #[]  คือ square brackets
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [33]:
list_a

[1, 2, 0.2, 'abs']

In [34]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [35]:
len (list_b)

4

In [36]:
list_b[3]

[1, 2, 0.0]

In [37]:
list_b[3][1]

2

# **stringg คือ list ของตัวหนังสือ**

In [38]:
a = 'stat KKU'   #เริ่มนับจาก 0

In [39]:
a[4]

' '


# **วิธีสร้าง list ว่าง**

In [40]:
list_c = list()  #แบบที่ 1
list_d = []      #แบบที่ 2

In [41]:
list_c

[]

In [42]:
list_d

[]

# **เติมค่าลงใน list ใช้ .append ()**

## **การชี้ค่าใน list เรียกว่า indexing**

1. ใช้ลำดับในการชี้

2. ลำดับดริ่มจาก 0

3. สามารถชี้จากข้างหลัง โดยใช้ negative index

In [43]:
list_b[-1]

[1, 2, 0.0]

In [44]:
list_d.append( 'a')

In [45]:
list_d

['a']

In [46]:
list_d.append(56)

In [47]:
list_d

['a', 56]

## list slicing  คือ การตัด list เลือกบางส่วนของ list ออกมา

In [48]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]   #เริ่มนับจาก 0

In [49]:
list_ex[1:6]   #เอาตัวที่ 1 - 5
                  #ตัด list ตั้งเเต่ [ตัวหน้า จนถึง ตัวก่อนตัวหลัง]

[2, 3, 5, 6, 8]

In [50]:
list_ex[4:]  #เริ่มตั้งเเต่ตัวที่ 4 จนตัวสุดท้าย

[6, 8, -1, 20, 50, 0]

In [51]:
list_ex[:6]   #เริ่มตัวเเรก ไปจนถึงตัวก่อนลำดับที่ 6

[1, 2, 3, 5, 6, 8]

## **จุดเริ่มต้น : จุดสุดท้าย : step**

In [52]:
list_ex

[1, 2, 3, 5, 6, 8, -1, 20, 50, 0]

In [53]:
list_ex[::2]

[1, 3, 6, -1, 50]

In [54]:
list_ex[::-1]    #กลับ list ตัวหลัง ไปอยู่ข้างหน้า  กลับ list ข้างหน้าไปอยู่หลัง

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [55]:
a

'stat KKU'

In [56]:
a[5:]

'KKU'

In [57]:
a[-3:]

'KKU'

In [58]:
a[5:8]

'KKU'

In [59]:
a[5::]

'KKU'

In [60]:
a[-3::1]

'KKU'

# **list + list**

In [61]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [62]:
list_a + list_b  #เอา list มาบวกกันได้

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

# **format string  การจัดเรียงให้สวยงาม**

In [63]:
f' ตัวเเปร list_a มีค่าคือ {list_a} '

" ตัวเเปร list_a มีค่าคือ [1, 2, 0.2, 'abs'] "

# Loop  การวนซ้ำ ทำอะไรซ้ำๆ หรือการทำงานคล้ายๆกัน



```
indent เว้นวรรค
  for  ตัวแปรที่จะรับค่าจากlist  in  listที่นำมาวนลูป :
          do someting           #in loop
          do another  thing   #in loop
  do other thing             # out side loop
```

In [64]:
for i in [1,2,3,4,5] : #ดึงค่าจาก list ไปใส่ i  เเล้วเอา i ไปทำอะไรก็ได้
  print(i)

1
2
3
4
5

In [65]:
  for i in [1,2,3,4,5] :
    print(i+1)

2
3
4
5
6

In [66]:
for x in [1,2,3,4,5] :
  print(f'ค่าตัวแปร x คือ {x} และ x+2 =  {x+2}')

ค่าตัวแปร x คือ 1 และ x+2 =  3
ค่าตัวแปร x คือ 2 และ x+2 =  4
ค่าตัวแปร x คือ 3 และ x+2 =  5
ค่าตัวแปร x คือ 4 และ x+2 =  6
ค่าตัวแปร x คือ 5 และ x+2 =  7

In [67]:
list5 = [1,2,3,4,5] 
for x in list5 :
  print(f'ค่าตัวแปร x คือ {x} และ x+2 =  {x+2}')

ค่าตัวแปร x คือ 1 และ x+2 =  3
ค่าตัวแปร x คือ 2 และ x+2 =  4
ค่าตัวแปร x คือ 3 และ x+2 =  5
ค่าตัวแปร x คือ 4 และ x+2 =  6
ค่าตัวแปร x คือ 5 และ x+2 =  7

In [68]:
list (range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
for i in range (2,7) :     #เริ่มที่ 2 ไม่เอา 7
  print (i)

2
3
4
5
6

In [70]:
for i in range (2,7,2) :  #เริ่ม 2 ไม่เกิน 7 ข้ามไป 2 step 
  print (i)

2
4
6

In [71]:
for i in range (5) :
   print  ('hahaha')
   x = i + 3
   print (f' i = {i}  x = {x}')

hahaha
 i = 0  x = 3
hahaha
 i = 1  x = 4
hahaha
 i = 2  x = 5
hahaha
 i = 3  x = 6
hahaha
 i = 4  x = 7

# **Nested loop**

In [72]:
for i in range(3):
    print(f'now i = {i}')
    print('start j loop')
    for j in range(4):
        print(f'i = {i} j = {j} i+j = {i+j}')
    print('end j loop')

now i = 0
start j loop
i = 0 j = 0 i+j = 0
i = 0 j = 1 i+j = 1
i = 0 j = 2 i+j = 2
i = 0 j = 3 i+j = 3
end j loop
now i = 1
start j loop
i = 1 j = 0 i+j = 1
i = 1 j = 1 i+j = 2
i = 1 j = 2 i+j = 3
i = 1 j = 3 i+j = 4
end j loop
now i = 2
start j loop
i = 2 j = 0 i+j = 2
i = 2 j = 1 i+j = 3
i = 2 j = 2 i+j = 4
i = 2 j = 3 i+j = 5
end j loop

# **Condition  คือ เงื่อนไข ประโยคเงื่อนไข**

## **if statement**



```
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์== , != , <  ,> , <= , >=):
    ถ้าเงื่อนไขเป็นจริง  ทำงาน 1
    ถ้าเงื่อนไขเป็นจริง  ทำงาน 2

#สามารถทำงานได้หลายเงื่อนไข
```

In [73]:
stringx = 'saodjp[opejfjdwpojd[ojwjd93odwj'

#จะเช็คว่าตัวเเปรที่สร้างขึ้นมาขนาดของมันถึง 30 ตัวอักษรรึป่าว
if len (stringx) > 30:

#ถ้าเกิดมากว่าเราจะ Print ว่า
    print (f'{stringx} is longer than 30 characters')

saodjp[opejfjdwpojd[ojwjd93odwj is longer than 30 characters

In [84]:
stringx = 'saodjp[opejfjdwpojd[ojwjd93odwj'

#จะเช็คว่าตัวเเปรที่สร้างขึ้นมาขนาดของมันถึง 100 ตัวอักษรรึป่าว
if len (stringx) > 100:

#ถ้าเกิดมากว่าเราจะ Print ว่า
    print (f'{stringx} is longer than 100 characters')

 #สิ่งที่เกินขึ้นคือ มันเช็คว่าตัวอักษรข้างในมันไม่ได้มากว่า 100 ตัวอักษร มันก็ไม่ทำข้างในเลย



```
if เงื่อนไขที่จะตรวจสอบ ( ==, !=, <, >, <=, >=) :
  ถ้าเงื่อนไขเป็นจริง ทำงาน 1
  ถ้าเงื่อนไขเป็นจริง ทำงาน 2
else: แปรว่า ตรวจสอบเงื่อนไขข้างบนเเล้วไม่เป็นจริง ก็ไปทำอีกเงื่อนไขนึง
  ทำงานที่ x

#เมื่อเช็คเเล้วเราไม่พอใจ อยากให้มันทำงานเพิ่ม
```

In [89]:
stringx = 'saodjp[opejfjdwpojd[ojwjd93odwj'

#จะเช็คว่าตัวเเปรที่สร้างขึ้นมาขนาดของมันถึง 100 ตัวอักษรรึป่าว
if len (stringx) > 100:

#ถ้าเกิดมากว่าเราจะ Print ว่า
    print (f'{stringx} is longer than 100 characters')

#ถ้าตรวจสอบข้างบนเเล้วไม่เป็นจริง   
#ถ้ามันไม่มากกว่า 100 เราก็อยากรู้ว่ามันมีกี่ตัวอักษร
else:
    print(f'{stringx} in {len(stringx)} characters long')

saodjp[opejfjdwpojd[ojwjd93odwj in 31 characters long

In [91]:
stringx = 'saodjp[opejfjdwpojd[ojwjd93odwjnmnmn,'
if len (stringx) > 100:
  print (f'{stringx} is longer than 100 characters')
else:
  print(f'{stringx} in {len(stringx)} characters long')

saodjp[opejfjdwpojd[ojwjd93odwjnmnmn, in 37 characters long



```
if เงื่อนไขที่จะตรวจสอบ ( ==, !=, <, >, <=, >=) :
#ตรวจสอบก่อนว่าเงื่อนไขมันเป็นจริงรึป่าว
#ถ้าเป็นจริงก็จะทำงาน 1 2 และโดดจาก if ออกไปเลย  แล้วก็จบ
    ถ้าเงื่อนไขเป็นจริง  ทำงาน 1                                 
    ถ้าเงื่อนไขเป็นจริง  ทำงาน 2

#ถ้าเกิดมันไม่เป็นจริงสิ่งที่มันจะทำต่อมาคือ หลุดเข้าไปใน elif
elif เงื่อนไขที่ตรวจสอบต่อไป ถ้าเงื่อนไขข้างบนไม่เป็นจริงก็จะมาตรวจสอบเงื่อนไขนี้ :
#ถ้าเป็นจริงก็จะทำงาน a1 a2 และโดดจาก elif ออกไปเลย  แล้วก็จบ
    ถ้าเงื่อนไขเป็นจริง  ทำงานที่ a1
    ถ้าเงื่อนไขเป็นจริง  ทำงานที่ a2

#ถ้าเกิดมันไม่เป็นจริงอีกสิ่งที่มันจะทำต่อมาคือ หลุดเข้าไปใน elif
elif เงื่อนไขที่ตรวจสอบต่อไป ถ้าเงื่อนไขข้างบน ที่จะทำงาน 1 2 a1 a2 ไม่เป็นจริงก็จะมาตรวจสอบเงื่อนไขนี้ :
#ถ้าเป็นจริงก็จะทำงาน b1 b2 และโดดจาก elif ออกไปเลย  แล้วก็จบ
    ถ้าเงื่อนไขเป็นจริง  ทำงานที่ b1
    ถ้าเงื่อนไขเป็นจริง  ทำงานที่ b2

else : ตรวจสอบเงื่อนไขข้างบนทั้งหมดเเล้วไม่เป็นจริง ค่อยมาทำงานที่ x
    ทำงานที่ x
```

In [95]:
password = '12345' #รหัสจริงๆ

input_pass = '123'   #เราใส่รหัสเเบบนี้
if input_pass == password: #ถ้าถูกก็ให้เข้ามาได้
  print ('welcome!')
#ถ้าเกิดมันไม่ถูก
elif len (input_pass) > len (password):
  print ('Too long, try again')   #ใส่รหัสยาวไปลองใหม่
else:
  print ('Too short, try again')  #ใส่รหัสสั้นไปลองใหม่

Too short, try again

In [98]:
password = '12345'  #รหัสจริงๆ

input_pass = '123sf'   #เราใส่รหัสเเบบนี้
if input_pass == password:  #ถ้าถูกก็ให้เข้ามาได้
    print ('Welcome!')
elif len (input_pass) > len (password):   #ใส่รหัสยาวไปลองใหม่
    print ('Too long, try again!')
elif len (input_pass) > len (password):   #ใส่รหัสสั้นไปลองใหม่
    print ('Too short, try again!')
else:
    print ('Wrong password, try again!')   #รหัสผิด ลองใหม่

Wrong password, try again!

In [99]:
password = '12345'  #รหัสจริงๆ

input_pass = '123fdasdf'   #เราใส่รหัสเเบบนี้
if input_pass == password:  #ถ้าถูกก็ให้เข้ามาได้
    print ('Welcome!')
elif len (input_pass) > len (password):   #ใส่รหัสยาวไปลองใหม่
    print ('Too long, try again!')
elif len (input_pass) > len (password):   #ใส่รหัสสั้นไปลองใหม่
    print ('Too short, try again!')
else:
    print ('Wrong password, try again!')    #รหัสผิด ลองใหม่

Too long, try again!

# **Q1**

In [76]:

list_ex = [1,5,9,-19,-2,0] #หาค่าน้อยที่สุดใน list_ex โดยไม่ใช้ function min (commit ก่อน 10.30 :Quiz1)

In [77]:

list_ex = [1,5,9,-19,-2,0] # หาค่าน้อยที่สุดใน list โดยไม่ใช้ function min

for x in list_ex:
  if x == -19:
    print (f'ตัวแปร x คือ {x} คือค่าตัวแปรที่น้อยที่สุด ')
  else :
    print (f'ตัวแปร x คือ {x} ไม่ใช่ค่าตัวแปรที่น้อยที่สุด')

ตัวแปร x คือ 1 ไม่ใช่ค่าตัวแปรที่น้อยที่สุด
ตัวแปร x คือ 5 ไม่ใช่ค่าตัวแปรที่น้อยที่สุด
ตัวแปร x คือ 9 ไม่ใช่ค่าตัวแปรที่น้อยที่สุด
ตัวแปร x คือ -19 คือค่าตัวแปรที่น้อยที่สุด
ตัวแปร x คือ -2 ไม่ใช่ค่าตัวแปรที่น้อยที่สุด
ตัวแปร x คือ 0 ไม่ใช่ค่าตัวแปรที่น้อยที่สุด

# **อาจารย์เฉลย**

In [101]:
list_ex = [1,5,9,-19,-2,0]

In [102]:
min = 1000000  #ตั้งค่าไว้ก่อนให้เยอะๆ

for i in list_ex:   #วนเข้าไปดูตัวที่น้อยสุด
     if i < min:    #ตัวเเรก คือ 1 เอามาเช็คกับ min ว่ามันน้อยกว่า min รึป่าว
         min = i    # อัพเดท min = 1  เเละน้อยที่สุดตอนนี้คือ 1 ไม่ใช่ 1000000
                       #จากนั้นวนดูตัวที่ 2 คือ 5  เเล้วเช็คดูว่า 5 น้อยกว่า min ตอนนี้ไหม ก็คือ 1
                       #5ไม่น้อยกว่า min min เลยเป็น 1 เหมือนเดิม เเล้วก็วนไปเรื่อยๆ
                       #พอถึง -19 มันน้อยกว่า min minเลยเปลี่ยนเป็น -19 เเล้วก็วนไปเรื่อยๆ จนไม่มีตัวไหนน้อยกว่า -19

print(min)

-19

In [103]:
min = 100000000
print(list_ex)
for i in list_ex:
    print(f'now i = {i}, min = {min}')
    print('start condition')
    if i < min:
        print(f'i < min, update min -> {i}')
        min = i
    else:
        print('i >= min, not update')
    print('end condition, go to next i')

print(min)

[1, 5, 9, -19, -2, 0]
now i = 1, min = 100000000
start condition
i < min, update min -> 1
end condition, go to next i
now i = 5, min = 1
start condition
i >= min, not update
end condition, go to next i
now i = 9, min = 1
start condition
i >= min, not update
end condition, go to next i
now i = -19, min = 1
start condition
i < min, update min -> -19
end condition, go to next i
now i = -2, min = -19
start condition
i >= min, not update
end condition, go to next i
now i = 0, min = -19
start condition
i >= min, not update
end condition, go to next i
-19


# **HW3 : ตัดเกรด**

In [80]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10] # ตัดเกรด คะแนนใน list score (ใช้ if กับ for)

for i in score:
  if i >= 80:
    print(f'คุณได้ {i} คะเเนน เกรดที่ได้คือ A ')
  elif i >=75:
    print(f'คุณได้ {i} คะเเนน เกรดที่ได้คือ B+ ')
  elif i >=70:
    print(f'คุณได้ {i} คะเเนน เกรดที่ได้คือ B ')
  elif i >=65:
    print(f'คุณได้ {i} คะเเนน เกรดที่ได้คือ C+ ')
  elif i >=60:
    print(f'คุณได้ {i} คะเเนน เกรดที่ได้คือ C ')
  elif i >=55:
    print(f'คุณได้ {i} คะเเนน เกรดที่ได้คือ D+ ')
  elif i >=50:
    print(f'คุณได้ {i} คะเเนน เกรดที่ได้คือ D ')
  else:
    print(f'คุณได้ {i} คะเเนน เกรดที่ได้คือ F ')

คุณได้ 49 คะเเนน เกรดที่ได้คือ F
คุณได้ 65 คะเเนน เกรดที่ได้คือ C+
คุณได้ 70 คะเเนน เกรดที่ได้คือ B
คุณได้ 95 คะเเนน เกรดที่ได้คือ A
คุณได้ 82 คะเเนน เกรดที่ได้คือ A
คุณได้ 55 คะเเนน เกรดที่ได้คือ D+
คุณได้ 89 คะเเนน เกรดที่ได้คือ A
คุณได้ 20 คะเเนน เกรดที่ได้คือ F
คุณได้ 77 คะเเนน เกรดที่ได้คือ B+
คุณได้ 77 คะเเนน เกรดที่ได้คือ B+
คุณได้ 81 คะเเนน เกรดที่ได้คือ A
คุณได้ 59 คะเเนน เกรดที่ได้คือ D+
คุณได้ 10 คะเเนน เกรดที่ได้คือ F

# **Function**