<a href="https://colab.research.google.com/github/Jaomiew/DWDM21/blob/main/Data101(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อดีของ Python คือมี Package สำหรับงานต่างๆมากมาย

package ที่ใช้ในการจัดการข้อมูล

1. pandas

In [12]:
  import pandas #วิธีเรียกใช้ package คือ import ตามด้วยชื่อ package 
  #คือการ import แบบธรรมดา

In [13]:
import  pandas as pd  #เหมือนกับข้างต้นเเต่เเค่ตั้งชื่อให้ package ที่โหลดมาว่า pd ซึ่งทำให้เวลาพิ์มสั้นกว่าคำว่า pandas

## ไฟล์ที่จะเจอคือ

1. .csv (CSV = comma separated values) เป็นไฟล์หลังที่จะใช้ในวิชานี้
เก็บข้อมูลตาราง ใช้งานง่ายๆ

In [14]:
data_df = pd.read_csv('data.csv') #ใช้ data ชื่อ pd

In [15]:
data_df

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15     Bankok
2  Sarah   49     London

In [16]:
data_df2 = pandas.read_csv('data.csv') #ใช้ data ชื่อ pandas คนละชื่อกันกับข้างบน
data_df2

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15     Bankok
2  Sarah   49     London

# Basic Python
## variables ตัวแปร คือ กล่องที่เอาไว้ใส่ข้อมูล

In [19]:
variable_a = 12              #12 ไม่มี quote คือเป็นตัวเลข 12    #variable_a คือช่องกล่อง
variable_b = ' abcde '     # 'เรียกว่า ' ' quote' เป็นตัวหนังสือ
variable_c = variable_a

In [20]:
variable_a

12

In [21]:
variable_b

' abcde '

In [22]:
variable_c

12

In [34]:
variable_a = 12            
variable_b = ' abcde '    
variable_c = variable_a 
variable_d = -41.2
variable_4 = "KKU" #ใช้ double quote ""  ก็ได้
# สามารถ + - * / ได้  ตัวแปรชนิดเดียวกัน
# ไม่สามารถใช้ตัวเลข + - * / กับตัวหนังสือได้

In [32]:
variable_x = variable_c + variable_d
print (variable_x)         #print ใช้แสดงค่า

-29.200000000000003

In [36]:
print (variable_b + variable_4)  #ตัวแปรที่เป็นตัวหนังสือ + กับตัวหนังสือ

 abcde KKU

##Casting การเปลี่ยนชนิดของตัวเเปร
ing ()

float ()
 
 str () เปลี่ยนตัวเลข ทศนิยมเป็น จน. จริง

In [37]:
print (variable_x)
print (int(variable_x))

-29.200000000000003
-29

In [38]:
V_X = str (variable_x)
print (V_X)

-29.200000000000003

In [39]:
V_X + variable_a

TypeError: ignored

In [40]:
variable_a + V_X

TypeError: ignored

In [41]:
V_X #พิมพ์ชือตัวเเปรธรรมดา

'-29.200000000000003'

In [42]:
float (V_X)

-29.200000000000003

# Data Structure โครงสร้างของข้อมูล  เอาค่าเเต่ละตัวมาต่อกันได้ ทำให้ง่ายขึ้น

list () ตัวเลข int float str  ตัวแปรมาต่อๆกัน

In [51]:
list_a = [1,2,0.2,'abs']      #[]  คือ square brackets
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [49]:
list_a

[1, 2, 0.2, 'abs']

In [52]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [53]:
len (list_b)

4

In [54]:
list_b[3]

[1, 2, 0.0]

In [55]:
list_b[3][1]

2

stringg คือ list ของตัวหนังสือ

In [60]:
a = 'stat KKU'   #เริ่มนับจาก 0

In [61]:
a[4]

' '

## การสร้ง list ว่าง

In [62]:
list_c = list()  #แบบที่ 1
list_d = []      #แบบที่ 2

In [63]:
list_c

[]

In [64]:
list_d

[]

## เติมค่าลงใน list ใช้ .append ()

การชี้ค่าใน list เรียกว่า imdexint

1. ใช้ลำดับในการชี้

2. ลำดับดริ่มจาก 0

3. สามารถชี้จากข้างหลัง โดยใช้ negative index

In [70]:
list_b[-1]

[1, 2, 0.0]

In [65]:
list_d.append( 'a')

In [66]:
list_d

['a']

In [68]:
list_d.append(56)

In [69]:
list_d

['a', 56]

## list slicing  คือ การตัด list เลือกบางส่วนของ list ออกมา

In [71]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]   #เริ่มนับจาก 0

In [72]:
list_ex[1:6]   #เอาตัวที่ 1 - 5
                  #ตัด list ตั้งเเต่ [ตัวหน้า จนถึง ตัวก่อนตัวหลัง]

[2, 3, 5, 6, 8]

In [73]:
list_ex[4:]  #เริ่มตั้งเเต่ตัวที่ 4 จนตัวสุดท้าย

[6, 8, -1, 20, 50, 0]

In [74]:
list_ex[:6]   #เริ่มตัวเเรก ไปจนถึงตัวก่อนลำดับที่ 6

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น : จุดสุดท้าย : step

In [77]:
list_ex

[1, 2, 3, 5, 6, 8, -1, 20, 50, 0]

In [76]:
list_ex[::2]

[1, 3, 6, -1, 50]

In [78]:
list_ex[::-1]    #กลับ list ตัวหลัง ไปอยู่ข้างหน้า  กลับ list ข้างหน้าไปอยู่หลัง

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [79]:
a

'stat KKU'

In [80]:
a[5:]

'KKU'

In [82]:
a[-3:]

'KKU'

In [83]:
a[5:8]

'KKU'

In [85]:
a[5::]

'KKU'

In [88]:
a[-3::1]

'KKU'

## list + list

In [89]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [90]:
list_a + list_b  #เอา list มาบวกกันได้

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

## format string  การจัดเรียงให้สวยงาม

In [102]:
f' ตัวเเปร list_a มีค่าคือ {list_a} '

" ตัวเเปร list_a มีค่าคือ [1, 2, 0.2, 'abs'] "

# Loop  การวนซ้ำ ทำอะไรซ้ำๆ

for  ตัวแปรที่จะรับค่าจาก list  in  list ที่นำมาวนลูป :

      do someting

In [96]:
for i in [1,2,3,4,5] : #ดึงค่าจาก list ไปใส่ i  เเล้วเอา i ไปทำอะไรก็ได้
  print(i)

1
2
3
4
5

In [99]:
  for i in [1,2,3,4,5] :
    print(i+1)

2
3
4
5
6

In [105]:
for x in [1,2,3,4,5] :
  print(f'ค่าตัวแปร x คือ {x} และ x+2 =  {x+2}')

ค่าตัวแปร x คือ 1 และ x+2 =  3
ค่าตัวแปร x คือ 2 และ x+2 =  4
ค่าตัวแปร x คือ 3 และ x+2 =  5
ค่าตัวแปร x คือ 4 และ x+2 =  6
ค่าตัวแปร x คือ 5 และ x+2 =  7

In [110]:
list5 = [1,2,3,4,5] 
for x in list5 :
  print(f'ค่าตัวแปร x คือ {x} และ x+2 =  {x+2}')

ค่าตัวแปร x คือ 1 และ x+2 =  3
ค่าตัวแปร x คือ 2 และ x+2 =  4
ค่าตัวแปร x คือ 3 และ x+2 =  5
ค่าตัวแปร x คือ 4 และ x+2 =  6
ค่าตัวแปร x คือ 5 และ x+2 =  7

In [111]:
list (range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [112]:
for i in range (2,7) :
  print (i)

2
3
4
5
6

In [113]:
for i in range (2,7,2) :
  print (i)

2
4
6

In [116]:
for i in range (5) :
   print  ('hahaha')
   x = i + 3
   print (f' i = {i}  x = {x}')

hahaha
 i = 0  x = 3
hahaha
 i = 1  x = 4
hahaha
 i = 2  x = 5
hahaha
 i = 3  x = 6
hahaha
 i = 4  x = 7

## Condition

## Function