<a href="https://colab.research.google.com/github/Jaomiew/DWDM21/blob/main/Data101(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **ข้อความที่อยู่ใน textbox จะเป็น ภาษา markdown**

## **ข้อดีหนึ่งของ Python คือมี package สำหรับทำงานต่างๆมากมาย**

## **ซึ่ง pandas เป็น package สำหรับการทำงานกับข้อมูลที่อยู่ในรูปแบบตาราง**

## **โดย pandas จะเรียกตารางนั้นว่า dataframe**

# **package ที่ใช้ในการจัดการข้อมูล**

## **1. pandas**

In [ ]:
  import pandas #วิธีเรียกใช้ package คือ import ตามด้วยชื่อ package 
                       #คือการ import แบบธรรมดา

In [ ]:
import  pandas as pd  #เหมือนกับข้างต้นเเต่เเค่ตั้งชื่อให้ package ที่โหลดมาว่า pd ซึ่งทำให้เวลาพิ์มสั้นกว่าคำว่า pandas

## ไฟล์ที่จะเจอคือ

1. .csv (CSV = comma separated values) เป็นไฟล์หลังที่จะใช้ในวิชานี้
เก็บข้อมูลตาราง ใช้งานง่ายๆ

In [42]:
data_df = pd.read_csv('data.csv') #ใช้ data ชื่อ pd

In [43]:
data_df

    name  age       city
0    tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

In [44]:
data_df2 = pandas.read_csv('data.csv') #ใช้ data ชื่อ pandas คนละชื่อกันกับข้างบน
data_df2

    name  age       city
0    tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

# **Basic Python**
## variables ตัวแปร คือ กล่องที่เอาไว้ใส่ข้อมูล

## **ข้อกำหนดในการตั้งชื่อตัวแปร**

1. ชื่อห้ามมีเว้นวรรค

2. (พยายาม)ใช้ภาษาอังกฤษ

3. ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)

4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [8]:
variable_a = 12              #12 ไม่มี quote คือเป็นตัวเลข 12    #variable_a คือช่องกล่อง
variable_b = ' abcde '     # 'เรียกว่า ' ' quote' เป็นตัวหนังสือ
variable_c = variable_a

In [9]:
variable_a

12

In [10]:
variable_b

' abcde '

In [11]:
variable_c

12

# **ชื่อห้ามมีเว้นวรรค**

In [45]:

variable a = 6

SyntaxError: ignored

# **(พยายาม)ใช้ภาษาอังกฤษ**

## colab ใช้ภาษาไทยเป็นชื่อตัวแปรได้ แต่ไม่ควรใช้

In [46]:

ตัวแปร = 3
ตัวแปร

3

# **ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)**

In [12]:

v_a = 1
V_a = 2
print(v_a)
print(V_a)

1
2

In [47]:
v_a = 1
v_a = 2
print(v_a)
print(v_a)

2
2

# **ห้ามใช้ตัวเลขเป็นตัวหน้า**

In [14]:

2 = 1

SyntaxError: ignored

In [15]:

2ab = 1

SyntaxError: ignored

In [16]:
variable_a = 12            
variable_b = ' abcde '    
variable_c = variable_a 
variable_d = -41.2
variable_4 = "KKU" #ใช้ double quote ""  ก็ได้
# สามารถ + - * / ได้  ตัวแปรชนิดเดียวกัน
# ไม่สามารถใช้ตัวเลข + - * / กับตัวหนังสือได้

In [17]:
variable_x = variable_c + variable_d
print (variable_x)         #print ใช้แสดงค่า

-29.200000000000003

In [18]:
variable_a + variable_b

TypeError: ignored

In [19]:
print (variable_b + variable_4)  #ตัวแปรที่เป็นตัวหนังสือ + กับตัวหนังสือ

 abcde KKU

# **Casting การเปลี่ยนชนิดของตัวเเปร**
## **ing ()**

## **float ()**
 
## **str () เปลี่ยนตัวเลข ทศนิยมเป็น จน. จริง**

In [20]:
print (variable_x)
print (int(variable_x))

-29.200000000000003
-29

In [21]:
V_X = str (variable_x)
print (V_X)

-29.200000000000003

In [22]:
V_X + variable_a

TypeError: ignored

In [23]:
variable_a + V_X

TypeError: ignored

In [24]:
V_X #พิมพ์ชือตัวเเปรธรรมดา

'-29.200000000000003'

In [26]:
float (V_X)

-29.200000000000003

# **Data Structure โครงสร้างของข้อมูล  เอาค่าเเต่ละตัวมาต่อกันได้ ทำให้ง่ายขึ้น**

#list()

int , float , str มาต่อกันได้

In [27]:
list_a = [1,2,0.2,'abs']      #[]  คือ square brackets
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [28]:
list_a

[1, 2, 0.2, 'abs']

In [29]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [30]:
len (list_b)

4

In [48]:
list_b[3]

[1, 2, 0.0]

In [49]:
list_b[3][1]

2

# **stringg คือ list ของตัวหนังสือ**

In [50]:
a = 'stat KKU'   #เริ่มนับจาก 0

In [51]:
a[4]

' '


# **วิธีสร้าง list ว่าง**

In [52]:
list_c = list()  #แบบที่ 1
list_d = []      #แบบที่ 2

In [53]:
list_c

[]

In [54]:
list_d

[]

# **เติมค่าลงใน list ใช้ .append ()**

## **การชี้ค่าใน list เรียกว่า indexing**

1. ใช้ลำดับในการชี้

2. ลำดับดริ่มจาก 0

3. สามารถชี้จากข้างหลัง โดยใช้ negative index

In [55]:
list_b[-1]

[1, 2, 0.0]

In [56]:
list_d.append( 'a')

In [57]:
list_d

['a']

In [ ]:
list_d.append(56)

In [58]:
list_d

['a']

## list slicing  คือ การตัด list เลือกบางส่วนของ list ออกมา

In [59]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]   #เริ่มนับจาก 0

In [60]:
list_ex[1:6]   #เอาตัวที่ 1 - 5
                  #ตัด list ตั้งเเต่ [ตัวหน้า จนถึง ตัวก่อนตัวหลัง]

[2, 3, 5, 6, 8]

In [61]:
list_ex[4:]  #เริ่มตั้งเเต่ตัวที่ 4 จนตัวสุดท้าย

[6, 8, -1, 20, 50, 0]

In [62]:
list_ex[:6]   #เริ่มตัวเเรก ไปจนถึงตัวก่อนลำดับที่ 6

[1, 2, 3, 5, 6, 8]

## **จุดเริ่มต้น : จุดสุดท้าย : step**

In [63]:
list_ex

[1, 2, 3, 5, 6, 8, -1, 20, 50, 0]

In [64]:
list_ex[::2]

[1, 3, 6, -1, 50]

In [65]:
list_ex[::-1]    #กลับ list ตัวหลัง ไปอยู่ข้างหน้า  กลับ list ข้างหน้าไปอยู่หลัง

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [66]:
a

'stat KKU'

In [67]:
a[5:]

'KKU'

In [68]:
a[-3:]

'KKU'

In [69]:
a[5:8]

'KKU'

In [70]:
a[5::]

'KKU'

In [71]:
a[-3::1]

'KKU'

# **list + list**

In [72]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [73]:
list_a + list_b  #เอา list มาบวกกันได้

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

# **format string  การจัดเรียงให้สวยงาม**

In [74]:
f' ตัวเเปร list_a มีค่าคือ {list_a} '

" ตัวเเปร list_a มีค่าคือ [1, 2, 0.2, 'abs'] "

# Loop  การวนซ้ำ ทำอะไรซ้ำๆ หรือการทำงานคล้ายๆกัน



```
#  for  ตัวแปรที่จะรับค่าจากlist  in  listที่นำมาวนลูป :
          do someting           #in loop
          do another  thing   #in loop
    do other thing             # out side loop
```

In [35]:
for i in [1,2,3,4,5] : #ดึงค่าจาก list ไปใส่ i  เเล้วเอา i ไปทำอะไรก็ได้
  print(i)

1
2
3
4
5

In [34]:
  for i in [1,2,3,4,5] :
    print(i+1)

2
3
4
5
6

In [33]:
for x in [1,2,3,4,5] :
  print(f'ค่าตัวแปร x คือ {x} และ x+2 =  {x+2}')

ค่าตัวแปร x คือ 1 และ x+2 =  3
ค่าตัวแปร x คือ 2 และ x+2 =  4
ค่าตัวแปร x คือ 3 และ x+2 =  5
ค่าตัวแปร x คือ 4 และ x+2 =  6
ค่าตัวแปร x คือ 5 และ x+2 =  7

In [36]:
list5 = [1,2,3,4,5] 
for x in list5 :
  print(f'ค่าตัวแปร x คือ {x} และ x+2 =  {x+2}')

ค่าตัวแปร x คือ 1 และ x+2 =  3
ค่าตัวแปร x คือ 2 และ x+2 =  4
ค่าตัวแปร x คือ 3 และ x+2 =  5
ค่าตัวแปร x คือ 4 และ x+2 =  6
ค่าตัวแปร x คือ 5 และ x+2 =  7

In [37]:
list (range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
for i in range (2,7) :     #เริ่มที่ 2 ไม่เอา 7
  print (i)

2
3
4
5
6

In [39]:
for i in range (2,7,2) :  #เริ่ม 2 ไม่เกิน 7 ข้ามไป 2 step 
  print (i)

2
4
6

In [40]:
for i in range (5) :
   print  ('hahaha')
   x = i + 3
   print (f' i = {i}  x = {x}')

hahaha
 i = 0  x = 3
hahaha
 i = 1  x = 4
hahaha
 i = 2  x = 5
hahaha
 i = 3  x = 6
hahaha
 i = 4  x = 7

# **Nested loop**

In [41]:
for i in range(3):
    print(f'now i = {i}')
    print('start j loop')
    for j in range(4):
        print(f'i = {i} j = {j} i+j = {i+j}')
    print('end j loop')

now i = 0
start j loop
i = 0 j = 0 i+j = 0
i = 0 j = 1 i+j = 1
i = 0 j = 2 i+j = 2
i = 0 j = 3 i+j = 3
end j loop
now i = 1
start j loop
i = 1 j = 0 i+j = 1
i = 1 j = 1 i+j = 2
i = 1 j = 2 i+j = 3
i = 1 j = 3 i+j = 4
end j loop
now i = 2
start j loop
i = 2 j = 0 i+j = 2
i = 2 j = 1 i+j = 3
i = 2 j = 2 i+j = 4
i = 2 j = 3 i+j = 5
end j loop

# **Condition  คือ เงื่อนไข ประโยคเงื่อนไข**

## **if statement**



```
if เงื่อนไขที่จะตรวจสอบ :
    ถ้าเงื่อนไขเป็นจริง  ทำงาน 1
    ถ้าเงื่อนไขเป็นจริง  ทำงาน 2

```

In [76]:
stringx = 'saodjp[opejfjdwpojd[ojwjd93odwj'

if len (stringx) > 30:
    print (f'{stringx} is longer than 30 characters')

saodjp[opejfjdwpojd[ojwjd93odwj is longer than 30 characters



```
if เงื่อนไขที่จะตรวจสอบ :
    ถ้าเงื่อนไขเป็นจริง  ทำงาน 1
    ถ้าเงื่อนไขเป็นจริง  ทำงาน 2
else : ตรวจสอบเงื่อนไขข้างบนเเล้วไม่เป็นจริง
    ทำงานที่ x
```

In [ ]:
stringx = 'saodjp[opejfjdwpojd[ojwjd93odwj'

if len (stringx) > 30:
    print (f'{stringx} is longer than 30 characters')

In [80]:
stringx = 'saodjp[opejfjdwpojd[ojwjd93odwj'

if len (stringx) > 100:
    print (f'{stringx} is longer than 30 characters')
else:
   print (f'{stringx} in {len (stringx)} characters long')

saodjp[opejfjdwpojd[ojwjd93odwj in 31 characters long



```
f เงื่อนไขที่จะตรวจสอบ :
    ถ้าเงื่อนไขเป็นจริง  ทำงาน 1
    ถ้าเงื่อนไขเป็นจริง  ทำงาน 2

elif เงื่อนไขที่ตรวจสอบต่อไป ถ้าเงื่อนไขข้างบนไม่เป็นจริง :
    ถ้าเงื่อนไขเป็นจริง  ทำงานที่ a1
    ถ้าเงื่อนไขเป็นจริง  ทำงานที่ a2

elif เงื่อนไขที่ตรวจสอบต่อไป ถ้าเงื่อนไขข้างบนไม่เป็นจริง :
    ถ้าเงื่อนไขเป็นจริง  ทำงานที่ b1
    ถ้าเงื่อนไขเป็นจริง  ทำงานที่ b2

else : ตรวจสอบเงื่อนไขข้างบนเเล้วไม่เป็นจริง
    ทำงานที่ x
```

In [82]:
password = '12345'

input_pass = '123'
if input_pass == password:
    print ('Welcome!')
elif len (input_pass) > len (password):
    print ('Too long, try again')
elif len (input_pass) > len (password):
    print ('Too short, try again')
else:
    print ('Wrong password, try again!')

Wrong password, try again!

# **อิหยังวะะ TT**

## **ค่อยมาเขียนใหม่ละกันนน งงในงง**

# **Q1**

In [85]:

list_ex = [1,5,9,-19,-2,0] #หาค่าน้อยที่สุดใน list_ex โดยไม่ใช้ function min (commit ก่อน 10.30 :Quiz1)

In [87]:
if list_ex[i] < list_ex[j]:
    print(f'Min is {list_ex[i]}')
else:
    print(f'Min is {list_ex[j]}')

Min is -19

# **อาจารย์เฉลย**

In [88]:
min = 100000000

for i in list_ex:
      if i < min:
        min = i
print (min)

-19

In [91]:
min = 100000000
print (list_ex)
for i in list_ex:
      print (f'now i = {i} , min = {min}')
 if i < min:
        print (f' i < min, update min -> {i}')
        min = i
 else : 
          print ('not update')
print ('end condition, go to next i')
print (min)

IndentationError: ignored

# **Function**